    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Curriculum Vitae</h2>
                    <p>You can download my curriculum vitae (CV) here.</p>
                    <a href="./cv/Ryan_Huang_CV.pdf" class="btn btn-default btn-lg">Download CV</a>
                </div>
            </div>
        </div>
    </section>
