    <!-- Projects Section -->
    <section id="projects" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
							<h2>Projects</h2>
              <p>Will be updated in the near future.</p>
            </div>
        </div>
    </section>
