    <!-- Skills Section -->
    <section id="skills" class="container content-section text-center">
        <div class="row">
					<h2>Skills</h2>
					<div class="col-mg-8 col-mg-offset-2">
		        <ul class="list-group">
		          <a href="#" onclick="event.preventDefault();" class="list-group-item">C/C++</a>
		          <a href="#" onclick="event.preventDefault();" class="list-group-item">Python</a>
		          <a href="#" onclick="event.preventDefault();" class="list-group-item">Java</a>
		          <a href="#" onclick="event.preventDefault();" class="list-group-item">HTML</a>
		          <a href="#" onclick="event.preventDefault();" class="list-group-item">CSS</a>
							<a href="#" onclick="event.preventDefault();" class="list-group-item">Javascript</a>
							<a href="#" onclick="event.preventDefault();" class="list-group-item">Git</a>
							<a href="#" onclick="event.preventDefault();" class="list-group-item">Data Structures</a>
							<a href="#" onclick="event.preventDefault();" class="list-group-item">OOP</a>
		        </ul>
					</div>
        </div>
    </section>
